<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>WallChess</title>
        <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/chessboard-1.0.0.css') }}"></link>
        <script type="text/javascript" src="{{ url_for('static',filename='js/chessboard-1.0.0.js') }}"></script>
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/rook.ico') }}"/></link>
    </head>

    <body>
        <h1>WallChess</h1>
        <div id="myBoard" style="width: 400px"></div>
        <script type="text/javascript" src="{{ url_for('static',filename='js/scripts.js') }}"></script>
    </body>

</html>